.not-found{
    max-width: 1120px;
    margin: 0 ;
    padding: 1rem 1rem ;
    margin-left: auto ;
    margin-right: auto ;
}
.not-found-title{
    margin: 10px;
    font-size: 180px;
    color: var( --blue-dark);
}

h2, h3{
    margin: 10px;
    color: #363F5F;
}

